<ion-view view-title="Blutwerte">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="helpBloodList()">
      <i class="icon ion-help"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
     <!-- <ion-item ng-repeat="bla in qrListData" ng-click="getItemData(bla)"> -->
      <ion-item ng-repeat="item in qrListData" href="#/app/blood_list/{{item}}">
        <i class="icon ion-document-text"><span id="test">{{item}}</span></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
