<ion-view view-title="Blood List Item">
  <ion-content>
    <h3><i class="icon ion-document-text"><span id="test">{{ incomingData }}</span></i></h3>
    <span>Bei click, ionicpopup welches anzeigt ob wert im standardbereich liegt oder nicht (if abfrage)</span>
    <p>
      <ion-list>
        <ion-item ng-click="">
          Erythrozyten: {{ qrItemData.E }} Mio./µl
        </ion-item>
        <ion-item href="">
          Leukozyten: {{ qrItemData.L }} /µl
        </ion-item>
        <ion-item>
          Thrombozyten: {{ qrItemData.T }} /µl
        </ion-item>
        <ion-item>
          Hämoglobinkonzentration: {{ qrItemData.Hb }} g/dl
        </ion-item>
        <ion-item>
          Hämatokrit: {{ qrItemData.Hk }} %
        </ion-item>
        <ion-item>
          MCH: {{ qrItemData.M }} pg
        </ion-item>
        <ion-item>
          MCHC: {{ qrItemData.MC }} g/dl
        </ion-item>
        <ion-item>
          MCV: {{ qrItemData.MV }} fl
        </ion-item>
      </ion-list>
    </p>
  </ion-content>
</ion-view>
