<ion-view view-title="Übersicht">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Funktionen im Überblick
      </div>
        <div class="item item-text-wrap">
          <h3>Einscannen von Blutwerten</h3><br />
          <p>
            Die App ermöglicht es Ihnen, die bei einer Blutentnahme ermittelten Werte auf Ihrem Server zu speichern.
            Dafür müssen Sie nur zum Menüpunkt "Blutwerte einscannen" navigieren und der Anleitung folgen.
          </p>
        </div>
        <div class="item item-text-wrap">
          <h3>Anzeige von Blutwerten</h3>
          <p>
            Sie können von unterwegs auf alle Blutwerte zugreifen, welche Sie zuvor mit der App eingescannt haben.
            Ein Klick auf den Menüpunkt "Blutwerte anzeigen" listet ihnen verfügbare Dateien auf und mit einem Klick auf
            den Dateinamen, werden Ihnen die Werte dieser Untersuchung angezeigt.
          </p>
        </div>
        <div class="item item-text-wrap">
          <h3>Fotografieren wichtiger Dokumente</h3>
          <p>
            Mit der App können Sie Bilder von wichtigen Dokumenten, wie zum Beispiel einem Arztbrief, aufnehmen und diese auf
            Ihrem Server speichern. Hierzu zum Menüpunkt "Bild aufnehmen" navigieren.
          </p>
        </div>
        <div class="item item-text-wrap">
          <h3>Anzeige von aufgenommenen Bildern</h3>
          <p>
            Wie schon bei Blutwerten, können Sie sich ihre aufgenommenen Bilder auch unterwegs anzeigen lassen, um diese
            zum Beispiel während sie im Urlaub sind einem Arzt zu zeigen. Navigieren Sie dafür zum Menüpunkt "Bilder anzeigen".
          </p>
        </div>
      </div>
  </ion-content>
</ion-view>
