<ion-view view-title="Login">
  <ion-header-bar align-title="center" class="bar-calm">
    <h2 class="title" id="title">Login</h2>
  </ion-header-bar>

  <ion-content>

    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username" placeholder="Username">
        </label>
        <label class="item item-input">
          <span class="input-label">Passwort</span>
          <input type="password" ng-model="loginData.password" placeholder="Passwort">
        </label>
        <label class="item">
          <button class="button icon-left ion-key button-block button-stable" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
