<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Menü</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list class="listTest">
        <!-- <ion-item menu-close ng-click="login()">
          Login
        </ion-item> -->
        <ion-item menu-close href="#/app/index" class="itemTest"> <!-- index -->
          <i class="icon ion-android-home"><span id="test">Index</span></i>
        </ion-item>
        <ion-item menu-close href="#/app/scan" class="itemTest"> <!-- scan (blutwerte) -->
          <i class="icon ion-qr-scanner"><span id="test">Blutwerte einscannen</span></i>
        </ion-item>
        <ion-item menu-close href="#/app/blood_list" class="itemTest"> <!-- show (blutwerte) -->
          <i class="icon ion-waterdrop"><span id="test">Blutwerte anzeigen</span></i>
        </ion-item>
        <ion-item menu-close href="#/app/pic" class="itemTest">
          <i class="icon ion-camera"><span id="test">Bild aufnehmen</span></i>
        </ion-item>
        <ion-item menu-close href="#/app/pic_list" class="itemTest">
          <i class="icon ion-images"><span id="test">Bilder anzeigen</span></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
