<ion-view view-title="Bild aufnehmen">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <i class="icon ion-help" id="help"></i><br />
        Um ein Bild von zum Beispiel einem Arztbrief aufzunehmen, drücken sie bitte auf Button "Bild aufnehmen".
        Die Kamera Funktion ihres Smartphones wird gestartet und sie können wie gewohnt ein Bild machen. Nach Aufnahme
        des Bildes, öffnet sich ein Fenster welches ihnen eine Vorschau des aufgenommenen Bildes zeigt und dessen senden
        sie mit einem Klick auf den Button "Senden" ausführen können. <br /><br />
        Sollten Sie mit dem Bild nicht zufrieden sein, klicken Sie auf "Schließen" und probieren es nocheinmal.
      </div>
    </div>

    <button class="button button-block icon-left ion-camera button-positive" ng-click="takePicture()">Bild aufnehmen</button>
  </ion-content>
</ion-view>
