<ion-view title="Bild anzeigen">
  <ion-content>
    <h3><i class="icon ion-document-text"><span id="test">{{ incomingPicData }}</span></i></h3>
    <div class="card">
      <div class="item item-text-wrap">
        <i class="icon ion-information" id="help"></i><br />
        Sie sehen eine Vorschau des Bildes. Drücken Sie auf das Bild für eine größere Anzeige und die Möglichkeit
        zu zoomen.
      </div>
    </div>
    <img ng-show="picBase !== undefined" ng-src="{{picBase}}" ng-click="showImageDetail()" height="300" width="300">
  </ion-content>
</ion-view>
