<ion-view view-title="Bilder anzeigen">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="helpPicList()">
      <i class="icon ion-help"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="data in picListData" href="#/app/pic_list/{{data}}">
        <i class="icon ion-image"><span id="test">{{data}}</span></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
