<ion-view view-title="Blutwerte einscannen">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <i class="icon ion-help" id="help"></i><br />
        Um die Blutwerte ihrer Untersuchung einzuscannen, klicken Sie auf den Button "Einscannen" und halten ihr Smartphone
        so über den auf dem Untersuchungsergebnis befindlichen QR-Code, dass sich dieser in der Mitte des auf dem Bildschirm
        angezeigten Vierecks befindet. Wenn der QR-Code erkannt wurde, öffnet sich ein Fenster, wo sie dann mit einem Klick auf
        den Button "Senden" die Daten an den Server übermitteln
      </div>
    </div>

    <button class="button icon-left ion-qr-scanner button-positive button-block" ng-click="scanQr()">Einscannen</button>
  </ion-content>
</ion-view>
