<div class="modal">
  <ion-header-bar>
    <h3>Hilfe</h3>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <p>
          In der Liste sehen Sie die verschiedenen Untersuchungen, zu denen sie Daten hinterlegt haben.
          Um die Werte einer Untersuchung zu sehen, drücken Sie einfach auf den jeweiligen Namen.
        </p>
      </div>
    </div>
    <button class="button icon-left ion-android-close button-block button-positive" ng-click="closeModal()">Schließen</button>
  </ion-content>
</div>
