<div class="modal">
  <ion-header-bar>
    <h2>Bild senden</h2>
  </ion-header-bar>
  <ion-content>
    <div>
      <strong>Dieses Bild an den Server übertragen?</strong>
      <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" height="400" width="300" />
    </div>
    <div>
      <button class="button icon-left ion-android-upload button-block button-calm" ng-click="sendImg()">Senden</button>
      <button class="button icon-left ion-android-close button-block button-positive" ng-click="closeModal()">Schließen</button>
    </div>
  </ion-content>

</div>
