<div class="modal">
  <ion-header-bar>
    <h2>Einscannen der Daten</h2>
  </ion-header-bar>
  <ion-content>
    <i class="icon ion-checkmark-round" id="check"></i>
    <p>
      Das Einscannen der Daten war erfolgreich. Übertragen Sie die Daten mit "Senden"
    </p>
    <button class="button icon-left ion-android-upload button-calm" ng-click="sendData()">Send</button>
  </ion-content>


</div>
