<div class="modal">
  <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="true"
    zooming="true" min-zoom="1" max-zoom="15" style="width: 100%; height: 100%" class="zoom-pane" overflow-scroll="false">

    <img ng-show="picBase !== undefined" ng-src="{{picBase}}"/>
  </ion-scroll>
  <div>
    <button class="button icon-left ion-android-close button-block button-positive" ng-click="closeModal()">Schließen</button>
  </div>


</div>
