/* Empty. Add your own CSS if you like */
#title {
  color: white;
  font-size: 19pt;
  font-weight: bold;
  font-family: sans-serif;
}

#help {
  font-size: 25px !important;
}

#check {
  font-size: 35px !important;
}

.listTest {
    margin-bottom: -7px;

}

.itemTest {
  margin-bottom: -3px;
  margin-top: -3px;
}

#test {
  margin-left: 5px;
}

#backpane {
  background-color: lightgray;
}

.zoom-pane {
width: 100% !important;
height: 100% !important;
}

.zoom-pane .scroll {
    min-height: 100% !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.zoom-pane img {
    width: 100% !important;
    vertical-align: top !important;
}
